@import '@taiga-ui/core/styles/taiga-ui-local';
@import 'src/styles/mixins/flexbox.scss';

$active-badge-color: #FF3347;

.card-body {
  margin-top: 1.5rem;
}

.video-preview-wrapper {
  @include flexbox($justifyContent: center, $alignItems: center);

  position: relative;
  max-height: 450px;
  overflow: hidden;

  img {
    height: 100%;
  }
}

.video-preview {
  @include transition(all, .2s);
}

.play-video-btn {
  @include transition(all, .2s);

  position: absolute;
  width: 80px;
}

.statistics {
  @include flexbox($justifyContent: space-between);

  &__right {
    @include flexbox($alignItems: center);
  }
}

.description {
  &__clamp {
    pointer-events: none;
  }
}

tui-island {
  background-color: var(--tui-secondary);
  margin-bottom: 1rem;

  &:hover {
    .video-preview {
      -webkit-filter: brightness(.6);
      filter: brightness(.6);
    }

    .play-video-btn {
      transform: scale(1.08);
      filter: brightness(1.15);
    }
  }
}

.likes-counter {
  @include transition(all);

  &.active {
    color: $active-badge-color;

    tui-svg {
      @include transition(all);

      color: $active-badge-color;
      fill: $active-badge-color;
    }
  }
}
