@import 'src/styles/mixins/flexbox.scss';

:host {
  @include flexbox($direction: column);

  height: 100vh;
}

tui-loader {
  margin: 1rem calc(-1rem + 1px) calc(-1rem + 1px);

  button {
    max-width: 100%;
    margin: 0;
  }
}
