<div class="header">
  <div class="header__title">
    <button
      *ngIf="canShowBackButton()"
      class="tui-space_right-4"
      appearance="mono"
      icon="tuiIconChevronLeft"
      type="button"
      tuiButton
      appGoBackButton
    >
      Назад
    </button>

    <h6 class="header__title-text" >
      {{ headerTitle() || 'Авторизация' }}
    </h6>
  </div>

  <button
    *ngIf="isLoggedIn()"
    class="header__logout-btn"
    tuiButton
    iconRight="tuiIconLogOut"
    (click)="logOut()"
  >Выйти</button>
</div>
