<div class="header">
  <div class="header__title">
    <button
      *ngIf="canShowBackButton()"
      class="tui-space_right-4"
      appearance="mono"
      icon="tuiIconChevronLeft"
      type="button"
      tuiButton
      goBackButton
    >
      Назад
    </button>

    <h6 class="header__title-text">
      {{ headerTitle() ?? 'Тестовое Web-приложение' }}
    </h6>
  </div>

  <button
    *ngIf="isLoggedIn()"
    class="header__logout-btn"
    tuiButton
    icon="tuiIconLogOutLarge"
    [tuiHintShowDelay]="0"
    tuiHintAppearance="onDark"
    tuiHintDirection="left"
    tuiHint="Выйти"
    (click)="logOut()"
  ></button>
</div>
