@import '@taiga-ui/core/styles/taiga-ui-local';
@import 'src/styles/mixins/flexbox';

:host {
  ::ng-deep {
    .header__logout-btn {
      [tuiWrapper][data-appearance='flat'] {
        background-color: transparent;
        color: var(--tui-base-01);
      }
    }
  }
}

.header {
  @include flexbox($placeContent: center space-between, $alignItems: center);
  @include shadow(4);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  font: var(--tui-font-heading-4);
  height: 4rem;
  padding: 0 40px;
  color: var(--tui-base-01);
  background-color: #09065b;

  &__title {
    @include flexbox($alignItems: center);
  }
}
