@import 'src/styles/mixins/flexbox.scss';

:host {
  margin-top: 1rem;
}

.header {
  justify-content: space-between;

  &__created-date {
    font-size: 12px;
  }

  &__user-info {
    @include flexbox($direction: column);

    h3 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 20rem;
      margin: 0;
    }
  }
}

.header, .header__user-name, .header__left {
  @include flexbox($alignItems: center);
}

.confirmed-icon {
  color: var(--tui-primary-active);
}
