@import '@taiga-ui/core/styles/taiga-ui-local';
@import './styles/links.scss';
@import './styles/text.scss';
@import './styles/mixins/flexbox.scss';

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--tui-base-02) !important;
}
